//mobile
.client {
  @include flex;
  list-style: none;
  gap: 30px;
  padding-left: 0;
  flex-wrap: wrap;
  &__item {
    @include flex;
    flex-basis: calc((100% - 30px) / 2);
    border: $btn-border;
    border-radius: $radius;
    &:hover {
      @include transition;
      fill: getColor("brand");
      border-color: getColor("brand");
    }
  }
  &__icon {
    @include icon;
    @include transition;
    width: 160px;
    height: 92px;
    justify-content: center;
    &:hover {
      @include transition;
      fill: getColor("brand");
      border-color: getColor("brand");
    }
  }
}
//tablet
@media screen and (min-width: 768px) {
  .client {
    &__item {
      flex-basis: calc((100% - 60px) / 3);
    }
  }
}
//desktop
@media screen and (min-width: 1200px) {
  .client {
    flex-wrap: nowrap;
  }
}
