body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: getColor("primary");
  margin: 0;
}
.container {
  width: 100%;
  margin: 0;
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
    margin: 0 auto;
  }
}
img {
  display: block;
  margin-right: 0;
  width: 100%;
  height: auto;
}
// odzielny kontakt w footerze i headerze
.contact {
  @include transition;
  @include font-style($weight: $font-medium, $spacing: 0.02em);
  color: getColor("secondary");
  font-size: getFont("regular");
  text-decoration: none;
  &:hover {
    color: getColor("brand");
  }
  &:focus {
    color: getColor("brand");
  }
  &:focus .icon--color {
    @include transition;
    fill: getColor("brand");
  }
  &:hover .icon--color {
    @include transition;
    fill: getColor("brand");
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.section {
  padding: 60px 15px;
}
@media (min-width: 1200px) {
  .section {
    padding: 94px 15px;
  }
}
.heading {
  @include flex;
  @include font-style($weight: $font-bold);
  font-size: getFont("titles-mobile");
  padding-bottom: 30px;
}
@media (min-width: 768px) {
  .heading {
    font-size: getFont("titles");
  }
}
