body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: getColor("primary");
  margin: 0;
}
.container {
  max-width: 100%;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    margin: 0;
  }
}
img {
  display: block;
  margin-right: 0;
  width: 100%;
  height: auto;
}
.contact {
  @include transition;
  @include font-style($weight: $font-medium, $spacing: 0.02em);
  color: getColor("secondary");
  font-size: getFont("regular");
  text-decoration: none;
  &:hover {
    color: getColor("brand");
  }
  &:focus {
    color: getColor("brand");
  }
  &:focus .icon--color {
    @include transition;
    fill: getColor("brand");
  }
  &:hover .icon--color {
    @include transition;
    fill: getColor("brand");
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}
.heading {
  @include flex;
  @include font-style($weight: $font-bold);
  font-size: getFont("titles");
  padding-bottom: 50px;
  padding-top: 60px;
}
@media screen and (min-width: 1200px) {
  .heading {
    @include flex;
    @include font-style($weight: $font-bold);
    font-size: getFont("titles");
    padding-bottom: 50px;
  }
}
