@media (max-width: 768px) {
  .mobile {
    &__toggle {
      @include flex;
      position: absolute;
      top: 22px;
      right: 22px;
      width: 24px;
      height: 24px;
      padding: 0;
      background: transparent;
      border: none;
    }
    &__icon {
      @include icon($fill: getColor("primary"));
      width: 24px;
      height: 24px;
      top: 22px;
      right: 22px;
      &:hover {
        @include transition;
        fill: getColor("brand");
      }
    }
  }
}
