.text {
  @include font-style($weight: $font-normal, $height: 1.56);
  font-size: getFont("text");
  color: getColor("light");
  text-align: start;
  padding: 49px 45px 49px 24px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 294px;
  top: 0;
  left: 0;
  overflow: hidden;
  &__text {
    @include transition($speed: 400ms);
    position: absolute;
    background-color: getColor("overlay-bg");
    transform: $move-all;
  }
}
.project__figure:hover .overlay__text {
  transform: translateY(0);
}
