.button {
  @include transition;
  display: flex;
  margin: 0;
  flex-wrap: wrap;
  list-style: none;
  gap: 8px;
  margin-bottom: 51px;
  padding-left: 0;
  &__label {
    @include font-style($weight: $font-medium, $height: 1.62);
    font-weight: 500;
    font-size: getFont("btn");
    background-color: getColor("light-bg");
    border: getColor("btn-border");
    border-radius: $radius;
    cursor: pointer;
    padding: 6px 22px;
    &:hover {
      @include transition;
      color: getColor("light");
      background-color: getColor("brand");
      box-shadow: getShadow("portfolio-btn");
    }
  }
}
@media (min-width: 768px) {
  .button {
    @include flex;
    flex-wrap: wrap;
    margin-bottom: 51px;
  }
}
@media (min-width: 1200px) {
  .button {
    @include flex;
    margin-bottom: 51px;
    &__label {
      &:focus {
        color: getColor("light");
        background-color: getColor("brand");
        box-shadow: getShadow("portfolio-btn");
      }
    }
  }
}
