// mobile
.title {
  background-color: getColor("dark-bg");
  justify-content: center;
  height: 400px;
  max-width: 1600px;
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  &__label {
    @include flex;
    @include font-style($weight: $font-black, $spacing: 0.06em);
    font-size: getFont("webstudio");
    color: getColor("light");
    padding: 118px 0 30px;
  }
  &__btn {
    @include flex;
    padding-bottom: 118px;
  }
}
.btn {
  @include index-btn;
  @include transition;
  line-height: 1.88;
  margin: 0 auto;
  text-align: center;
  &:hover {
    @include index-btn-hover;
  }
}
.list {
  display: block;
  list-style: none;
  padding: 60px 15px;
  margin: 0 auto;
  gap: 30px;
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    background-color: getColor("light-bg");
    margin-bottom: 30px;
  }
  &__label {
    @include font-style($weight: $font-bold);
    justify-content: center;
    text-align: center;
    font-size: getFont("regular");
    padding-bottom: 10px;
  }
  &__paragraph {
    @include font-style($weight: $font-normal, $height: 1.71);
    font-size: getFont("regular");
    color: getColor("secondary");
    margin-bottom: 30px;
  }
}
// tablet
@media screen and (min-width: 768px) {
  .list {
    display: flex;
    flex-wrap: wrap;
    &__item {
      flex-basis: calc((100% - 30px) / 2);
    }
  }
}
//desktop
@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .title {
    background-image: url(../images/background@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .title {
    height: 600px;
    max-width: 1600px;
    &__label {
      font-size: getFont("label");
      padding: 200px 0 30px;
    }
    &__btn {
      padding-bottom: 200px;
    }
  }
  .list {
    flex-wrap: nowrap;
    padding: 0;
    &__item {
      @include flex;
      flex-direction: column;
    }
    &__label {
      align-self: baseline;
    }
    &__paragraph {
      text-align: left;
    }
  }
}
