//font size
$size: (
  "regular": 14px,
  "titles": 36px,
  "titles-mobile": 28px,
  "label": 44px,
  "btn": 16px,
  "team": 16px,
  "text": 18px,
  "form-title": 20px,
  "form-label": 12px,
  "webstudio": 26px,
  "web-mobile": 24px,
  "mobile-title": 40px,
  "mobile-phone": 34px,
);

@function getFont($key) {
  @return map-get($size, $key);
}

//font weight
$font-normal: 400;
$font-medium: 500;
$font-bold: 700;
$font-black: 900;
